.contenedor{
    display: flex;
    justify-content: center;
}

table{
    border-collapse: collapse;
    border: 2px solid grey;
    letter-spacing: 1px;
    font-size: 1.5ren;
    background-color: rgb(225, 223, 223);
}

th{
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    background-color: rgb(94, 94, 94);
}

td{
    text-align: left;
    border: 1px solid grey;
    padding: 10px;
}

h2{
    margin: 0;
    padding: 20px;
}

tr:hover{
    background-color: rgb(194, 194, 194);
}